@import "../../common/styles/variables.less";

.Explorer {
	min-width: 160px;
	height: 100%;
	display: flex;
	flex-direction: column;
	padding-top: 10px;
	padding-bottom: 10px;
}

.ExplorerHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-weight: 500;
	line-height: @line-height;
	letter-spacing: 0em;
	text-align: left;
}

.ContextMenu {
	background-clip: padding-box;
	background-color: #fff;
	border-radius: @border-radius;
	box-shadow: @box-shadow;
	left: 0px;
	list-style-type: none;
	margin: 0;
	outline: none;
	padding: 0;
	position: absolute;
	text-align: left;
	top: 0px;
	overflow: hidden;
	-webkit-box-shadow: @box-shadow;
}

.ContextMenu li {
	clear: both;
	color: rgba(0, 0, 0, 0.65);
	cursor: pointer;
	font-weight: normal;
	line-height: @line-height;
	margin: 0;
	padding: 5px 12px;
	transition: all 0.3s;
	white-space: nowrap;
	-webkit-transition: all 0.3s;
}

.ExplorerHeaderTitle {
	display: flex;
	flex-grow: 1;
}

.ExplorerHeaderMenu {
	display: flex;
	padding: 4px;
}

.ExplorerTree {
	overflow-y: auto;
}

.ExplorerLoading {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
