@import "../../../../common/styles/variables.less";

.updates-list {
	display: flex;
	justify-content: center;
	flex-direction: column;
	font-size: @small-font-size;

	.help-text {
		// text-align: center;
	}

	.item {
		border-radius: @border-radius;
	}
}

.result-viewer {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	min-height: 0;
	font-size: @small-font-size;

	@result-viewer-header-height: 3rem;

	.result-viewer-header {
		display: flex;
		gap: 0.5rem;
		align-self: end;
		align-items: center;
		justify-content: flex-end;
		min-height: @result-viewer-header-height;
		padding: 0.25rem 0.5rem;
		width: 100%;

		.header-item {
			display: flex;
			gap: 0.25rem;
			input {
				width: 2.5rem;
				text-align: center;
			}
		}
	}

	.result-viewer-container {
		display: flex;
		min-height: calc(100% - @result-viewer-header-height);
		width: 100%;
		padding: 0.25rem;
	}

	.tree-viewer {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		min-height: 0;
		gap: 0.5rem;
		/* To even out the margin-right on the header (.header) */
		padding-left: 1rem;

		@tree-view-header-height: 2rem;

		.header {
			min-height: @tree-view-header-height;

			padding: 0.5rem;
			border-radius: @border-radius;
			background-color: @container-bg-color;

			/* To accomodate the overflow below the header (.content) */
			margin-right: 1rem;
		}

		.content {
			overflow-y: scroll;
			overflow-x: hidden;
			display: flex;
			flex-direction: column;
			flex-grow: 0;
			padding: 0.5rem;
			background-color: @container-bg-color;
			border-radius: @border-radius;

			height: calc(
				100% -
					(@tree-view-header-height + @result-viewer-header-height + 0.25rem)
			);

			.document-header-buttons {
				display: flex;
				* {
					padding: 0.25rem;
				}
			}
		}

		.content-row {
			@content-row-modified-width: 2rem;

			display: flex;
			flex-grow: 1;
			justify-content: start;
			align-items: center;
			padding-top: 0.25rem;

			min-height: 1.5rem;

			.key-delete {
				height: 1.5rem;
				display: flex;
				align-items: center;
				padding: 0.25rem 0.5rem;
			}

			.button-container {
				display: flex;
			}

			.left {
				width: 50%;
				height: 1.5rem;
				display: flex;
				align-items: center;
				padding: 0.25rem 0.5rem;
				border-bottom: 1px solid @outline-color;
				&:focus,
				&:active,
				&:hover {
					background-color: @container-fg-color-bright;
				}
			}

			.right {
				width: 50%;
				height: 1.5rem;
				display: flex;
				align-items: center;
				padding: 0.25rem 0.5rem;
				border-bottom: 1px solid @outline-color;
				&:focus,
				&:active,
				&:hover {
					background-color: @container-fg-color-bright;
				}
			}

			.modified {
				display: flex;
				justify-content: center;
				height: 100%;
				align-items: center;
				width: @content-row-modified-width;
			}
		}

		.switchable-input {
			display: flex;
			flex-grow: 1;
			align-items: center;
			gap: 0.5rem;

			span {
				cursor: pointer;
			}

			.object-id {
				display: flex;
				align-items: center;
			}

			.switchable-input-child {
				display: flex;
				flex-grow: 1;
				align-items: center;
			}
		}

		.document-tree {
			display: flex;
			flex-direction: column;
			width: 100%;
			border-radius: @border-radius;
			background-color: @container-bg-color;

			gap: 0.15rem;

			.item {
				cursor: pointer;
				display: flex;
				flex-direction: row;
				align-items: center;
				width: 100%;
				height: 2rem;
				border-radius: @border-radius;
				background-color: @container-fg-color;
				border: 1px solid @outline-color;

				.handle {
					padding: 0.25rem;
					margin: 0.25rem;
				}

				&.primary {
					background-color: @container-fg-color;
					padding: 0.25rem;
					height: 2rem;
					&:hover {
						background-color: @container-fg-color-bright;
					}
				}

				&:hover {
					background-color: @container-fg-color-bright;
				}

				.heading {
					width: 100%;
					flex-grow: 1;
					min-width: 0;
				}

				.top-right-element {
					align-self: center;
				}
			}

			.panel {
				padding-left: 0.5rem;
				padding-bottom: 0.5rem;
			}
		}
	}

	.json-viewer {
		overflow-y: scroll;
		overflow-x: hidden;
		display: flex;
		flex-direction: column;
		width: 100%;
		padding-left: 0.5rem;
		div {
			border-radius: @border-radius !important;
		}
	}
}
