:root {
	.bp4-tooltip2 .bp4-popover2-content {
		font-size: @small-font-size;
		background: @container-fg-color;
		color: @button-text-color;
		border-radius: @border-radius;
	}

	.bp4-tag {
		background-color: @container-fg-color;
		color: @text-color;
		font-size: @small-font-size;
		border-radius: @border-radius !important;
	}

	.bp4-icon {
		color: @text-color !important;
		font-size: @small-font-size !important;
		padding: 0.1rem;
	}

	.bp4-label {
		font-size: @small-font-size;
	}

	.bp4-form-helper-text {
		font-size: @small-font-size !important;
	}

	.bp4-control-group {
		align-items: center;
	}

	.bp4-file-upload-input {
		background-color: @container-fg-color;
		color: @subtext-color;
	}

	.bp4-input {
		background-color: @container-fg-color;
		color: @text-color;
		font-size: @small-font-size;
		height: 1.5rem !important;
	}

	.bp4-input-group .bp4-small .bp4-input {
		height: 1.25rem !important;
		font-size: @small-font-size;
	}

	.bp4-file-upload-input::after {
		content: none;
	}
}
