@import "../styles/variables.less";

.modal {
	a {
		gap: 0.25rem;
		color: @link-color !important;
		&:hover {
			color: @text-color !important;
		}
	}

	padding-bottom: 0.5rem;
	background-color: @container-bg-color;
	color: @text-color;
	height: 100%;

	box-shadow: @box-shadow;

	.bp4-dialog-header {
		background-color: @container-fg-color;
	}

	.title {
		font-size: @medium-font-size;
		color: @text-color;
	}

	.content {
		padding: 0.5rem 0.5rem;
		overflow-y: auto;
		height: 100%;
	}

	.footer {
		display: flex;
		justify-content: flex-end;
		padding: 0.5rem;
	}
}

.small {
	width: 40rem;
}

.large {
	width: 70rem;
	height: 35rem;
}
