@import "./common/styles/variables.less";
@import "./common/styles/bp4-override.less";
@import "./common/styles/monaco-override.less";

:root {
	font-weight: 500;
	font-size: max(14px, 0.8vw);
}

* {
	code {
		font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
			monospace !important;

		border-radius: @border-radius !important;
		background-color: @container-fg-color-bright !important;
		color: @text-color !important;

		padding: 0.25rem !important;

		&.multi-line {
			display: block;
			white-space: pre-wrap;
		}
	}

	&:focus {
		outline: none !important;
		box-shadow: @input-box-shadow !important;
	}
}

*::-webkit-scrollbar {
	background-color: @scrollbar-bg-color;
	border-radius: @border-radius;
	width: 0.33rem;
	height: 0.33rem;
}

*::-webkit-scrollbar-thumb {
	opacity: 0%;
}

*:hover::-webkit-scrollbar-thumb {
	background-color: @scrollbar-thumb-color;
	border-radius: @border-radius;
	border: 3px solid @scrollbar-bg-color;
	opacity: 100%;
	transition: opacity 3s;
}

html {
	overflow: hidden;
	display: flex;
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	display: flex;
	margin: 0;
	// font-family: @font-family;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
	height: 100%;
	width: 100%;
}

pre {
	width: 100%;
	margin: revert;
	overflow: auto;
	overflow-y: hidden;
	font-size: @medium-font-size;
	line-height: @line-height;
	border: 1px solid #777;
	background: transparent repeat 0 0;
}

.resize-handle {
	@handle-size: 0.33rem;

	border-radius: @border-radius;

	&.horizontal {
		height: @handle-size !important;
	}

	&.vertical {
		width: @handle-size !important;
	}

	&:hover,
	&:active {
		background-color: @container-fg-color-bright !important;
	}
}
